/*
  CSS reset from: https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-gap-0 {
  gap: 0px;
}

.flex-gap-1 {
  gap: 8px;
}

.flex-gap-2 {
  gap: 16px;
}

.flex-gap-3 {
  gap: 24px;
}

.flex-gap-4 {
  gap: 32px;
}

.flex-gap-5 {
  gap: 40px;
}

.flex-gap-6 {
  gap: 48px;
}

.flex-gap-7 {
  gap: 56px;
}

.flex-gap-8 {
  gap: 64px;
}

.flex-gap-9 {
  gap: 72px;
}

.flex-gap-10 {
  gap: 80px;
}

.flex-gap-11 {
  gap: 88px;
}

.flex-gap-12 {
  gap: 96px;
}

.flex-gap-13 {
  gap: 104px;
}

.flex-gap-14 {
  gap: 112px;
}

.flex-gap-15 {
  gap: 120px;
}

.flex-gap-16 {
  gap: 128px;
}