html {
  --at-apply: bg-light-background scroll-smooth;
}

html.dark {
  --at-apply: bg-dark-background;
}

body {
  --at-apply: font-body-1;
  font-size: 16px;
  overflow-x: hidden;
}

.prose h1 {
  --at-apply: font-header text-primary;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  --at-apply: font-header text-success;
}

details {
  --at-apply: m-0, p-0;
}

.prose {
  max-width: 50rem !important;
}

details summary::-webkit-details-marker {
  display: none;
}

.box {
  --mask: radial-gradient(
        15.76px at 50% calc(100% + 11.7px),
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      calc(50% - 18px) calc(50% - 5.5px + 0.5px) / 36px 11px,
    radial-gradient(
        15.76px at 50% -11.7px,
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      50% calc(50% + 5.5px) / 36px 11px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  right: 0px;
  top: 0px;
  position: fixed;
}

.prose h1 {
  /* prettier-ignore */
  --at-apply: text-4xl md:text-6xl;
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
}

.prose ul:not(.blog-list),
.prose ol:not(.blog-list) {
  --at-apply: ml-6;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in-up .animate {
    animation: fade-in-up 300ms ease-in-out both;
    animation-delay: calc(var(--animation-order) * 300ms);
  }

  .fade-in-down {
    animation: fade-in-down 300ms ease-in-out both;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
