html {
  --at-apply: bg-light, scroll-smooth;
}

html.dark {
  --at-apply: bg-dark-900;
}

body {
  font-size: 18px;
  overflow-x: hidden;
}

.box {
  --mask: radial-gradient(
        15.76px at 50% calc(100% + 11.7px),
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      calc(50% - 18px) calc(50% - 5.5px + 0.5px) / 36px 11px,
    radial-gradient(
        15.76px at 50% -11.7px,
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      50% calc(50% + 5.5px) / 36px 11px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  right: 0px;
  top: 0px;
  position: fixed;
}
