html {
  --at-apply: bg-light scroll-smooth;
}

html.dark {
  --at-apply: bg-dark;
}

body {
  --at-apply: font-body-1;
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --at-apply: font-header;
}

details {
  --at-apply: m-0, p-0;
}

.prose {
  max-width: 50rem !important;
}

details summary::-webkit-details-marker {
  display: none;
}

.box {
  --mask: radial-gradient(
        15.76px at 50% calc(100% + 11.7px),
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      calc(50% - 18px) calc(50% - 5.5px + 0.5px) / 36px 11px,
    radial-gradient(
        15.76px at 50% -11.7px,
        #0000 calc(99% - 2px),
        #000 calc(101% - 2px) 99%,
        #0000 101%
      )
      50% calc(50% + 5.5px) / 36px 11px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  right: 0px;
  top: 0px;
  position: fixed;
}

.prose h1 {
  /* prettier-ignore */
  --at-apply: text-4xl md:text-6xl;
}

.prose ul:not(.blog-list),
.prose ol:not(.blog-list) {
  --at-apply: ml-6;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.expand-enter-active,
.expand-leave-active {
  transition: all 0.15s ease-in-out;
}

.expand-enter-from,
.expand-leave-to {
  margin-top: -100%;
}
